@import "../values";
@import "../common";

@mixin background_article {
    display: flex;
    flex-direction: row;
    background-color: $nav_color;
    border-radius: 10px;
    padding: 2em;
}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#home {
    max-width: $max_home_width;
    display: flex;
    flex-direction: column;
    margin:  1em 15% 1em 25%;
    article {
        margin-bottom: 3em;
    }
    h3 {
        font-weight: lighter;
        margin: 0 2em;
        text-align: center;
    }
}

#home-welcome {
    display: flex;
    flex-direction: row;
    img {
        width: 30%;
        border-radius: 10px;
    }
    div {
        @include flex_column_center;
        width: 70%;
        height: 100%;
        h1 {
            font-size: 50px;
            margin: 1em 2em;
            text-align: center;
        }
        h4 {
            font-weight: lighter;
            margin: 0;
            margin-top: 1em;
            text-align: center;
            span {
                color: $acent_color;
            }
        }
    }
}

#home-newest {
    @include background_article;
    div {
        @include flex_column_center;
        width: 70%;
        height: 100%;
        h1 {
            font-size: 35px;
            margin: 1em 2em;
            text-align: center;
            span {
                color: $acent_color;
            }
        }
    }
    a {
        width: 30%;
        &:hover {
            cursor: pointer;
        }
    }
}

#home-description {
    @include background_article;
    div {
        display: flex;
        flex-direction: column;
        flex: 0.33;
        a {
            text-align: center;
            img {
                width: 30%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}