@import "../values";
@import "../common";

#show-nav {
    display: none;
}

#home-image:hover {
    cursor: pointer;
}
  
#home-title:hover {
    cursor: pointer;
}

#web-logo {
    @include logo;
}

#links {
    @include links;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: $nav_color;
    min-height: 100%;
    width: 150px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
}