aside {
    margin-top: 70px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    flex-direction: column;
    flex: 0.3;
    box-sizing: border-box;
    border-left: 2px var(--nav-color-hover) solid;
}

aside > * {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin-bottom: 20px;
    background-color: var(--nav-color);
}

aside input[type="submit"]{
    align-self: center;
    justify-self: center;
    background-color: var(--font-color);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    min-width: 50px;
    min-height: 30px;
    color: white;
    font-weight: bolder;
}

aside input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}

#order-container {
    width: 100%;
    box-sizing: border-box;
}

#order-container input[type="checkbox"]{
    margin-bottom: 30px;
}

#search-container > input, #search-container > div {
    margin-bottom: 20px;
}

#search-container input[type="range"] {
    width: 100%;
}