@import "../values";
@import "../common";

#add-recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    .add-recipe-component {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 10px 0;
        > input[type="text"] {
            @include input-template;
            flex: 1;
            height: 2em;
        }
        > textarea {
            @include input-template;
            flex: 1;
            height: 10em;
        }
        input[type="button"] {
            @include input-template;
            width: 10em;
            height: 3em;
            align-self: center;
            margin-left: 1em;
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            &:focus {
                outline: none;
            }
        }
        > label {
            display: flex;
            align-items: center;
            font-size: 20px;
            margin-right: 1em;
        }
        > input[type="submit"] {
            @include input-template;
            width: 10em;
            height: 3em;
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .error {
        color: $error_color;
        font-size: 15px;
    }
    .property {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        img {
            width: 80px;
        }
        input {
            width: 7em;
            margin: 1em 0;
            border-radius: 5px;
            background-color: $text_color;
            color: $nav_color;
            font-family: fredoka-one-regular;
            &:focus {
                outline: none;
            }
        }
        input[type="checkbox"] {
            margin: 18px 0;
            &:hover {
                cursor: pointer;
            }
        }   
        label {
            font-size: 12px;
        }
        .error {
            color: $error_color;
            font-size: 10px;
        }
    }
}

#add-recipe-properties {
    justify-content: space-between;
    background-color:  $nav_color;
    max-width: 10em;
    padding: 1em;
    border-radius: 10px;
}

#submit-input {
    justify-content: center;
    align-items: center;
}

