@import "../values";
@import "../common";

#web-logo {
    @include logo;
}

#show-nav {
    border: none;
    background: none;
    padding: none;
    img {
        width: 35px;
    }
    &:hover{
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

#links {
    @include links;
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: $nav_color;
    box-sizing: border-box;
}