:root {
    --form-color: #e9e3e3;
    --font-color: #c75e18;
}

#add-recipe {
    margin: 30px auto 0 auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    background-color: var(--form-color);
}

#add-recipe label {
    align-self: center;
    font-size: large;
    font-weight: 600;
}

#add-recipe input[type="text"], textarea {
    flex: 1;
}

#add-recipe input[type="button"], #add-recipe input[type="submit"] {
    background-color: var(--font-color);
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    min-width: 50px;
    min-height: 30px;
    color: white;
    font-weight: bolder;
}

#add-recipe input[type="button"]:hover, #add-recipe input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add-recipe-component {
    display: flex;
    padding: 10px 0;
}

#description {
    min-height: 100px;
}

#ingredient-box-1 {
    margin-top: 30px;
}

#preparation-box-1 {
    margin-top: 30px;
}

#properties {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px 0;
}

.property {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.property > input {
    max-width: 100px;
}

#submit-input {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
    font-size: small;
}