#comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 50px;
    padding: 20px;
    background: var(--nav-color);
}

.comment-title {
    display: flex;
    flex-direction: row;
    border-bottom: 1px var(--nav-color-hover) solid;
}

.comment-title  > span {
    margin-left: 10px;
    font-size: small;
}

.comment-content {
    margin: 10px 40px 30px 40px;
}

#comment-container > form {
    display: flex;
    flex-direction: column;
}

#comment-container input[type="text"] {
    min-height: 50px;
}

#comment-container input[type="submit"] {
    align-self: flex-end;
    justify-self: center;
    background-color: var(--font-color);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    min-width: 50px;
    min-height: 30px;
    color: white;
    font-weight: bolder;
}

#comment-container input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}