:root {
    --nav-color: #e9e3e3;
    --nav-color-hover: #ccc5c5;
    --font-color: #c75e18;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav-color);
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    max-height: 60px;
    border-bottom: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

nav p:hover > a {
    color: var(--font-color);
}

.nav-item {
    padding: 0 40px;
    font-size: large;
    font-weight: 600;
    transition: color 0.5s;
}

.nav-item > img{
    padding: 5px 0;
    height: 50px;
    width: 50px;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--font-color);
}

#login {
    margin-left: auto;
}

#username {
    min-width: 150px;
    margin-left: auto;
    text-align: center;
}

#usermenu {
    position: relative;
    z-index: 1;
    background-color: var(--nav-color);
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

#usermenu p {
    padding: 10px 0;
    margin: 0;
    font-size: large;
    font-weight: 600;
    font-family: "Lucida Console", Courier, monospace;
}

#usermenu p:hover {
    background-color: var(--nav-color-hover);
    cursor: pointer;
} 