#recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 50px 10px 50px;
    padding: 20px;
    background: var(--nav-color);
}

#main-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 2px var(--nav-color-hover) solid;
}

.space-between-container{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    justify-content: space-around;
}

#main-info > img{
    min-height: 300px;
    max-height: 500px;
    margin-left: 10px;
}

#main-info span {
    display: block;
    font-weight: bold;
}

.ratings {
    display: flex;
    margin: 10px 0;
    font-size: large;
}

.ratings button {
    border: none;
    border: 5px;
    background-color: var(--nav-color);
}

.ratings button:hover {
    cursor: pointer;
}

.img-number img {
    width: 20px;
}

.img-number b{
    margin-right: 40px;
}

.property {
    text-align: center;
}

.property > p {
    margin: 10px;
    width: fit-content;
    block-size: fit-content;
    font-size: xx-large;
    font-weight: bold;
}

#tags {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tags > p {
    margin: 0 10px;
    background-color: var(--nav-color-hover);
    padding: 5px;
    font-weight: bold;
    font-size: small;
}