@mixin nav-a-element {
    text-decoration: none;
    color: $text_color;
    transition: color 0.5s;
    padding: 10px;
    &:hover {
        color: $text_color_hover;
        background-color: $nav_color_hover;
    }
    img {
        width: 25px;
    }
}

@mixin logo {
    display: flex;
    flex-direction: row;

    padding: 5px;

    img {
        width: 60px;
    }
}

@mixin links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    a {
        @include nav-a-element;
    }
    hr.separator {
        width: 75%;
        border-top: 3px solid $body_color;
        border-radius: 5px;
    }
    button {
        width: 80%;
        min-height: 3em;
        margin: 1em 0;
        background-color: $text_color;
        border-radius: 5px;
        color: $nav_color;
        font-family: fredoka-one-regular;
        align-self: center;
        &:hover{
            cursor: pointer;
            opacity: 0.9;
        }
        &:focus {
            outline: none;
        }
    }
}

@mixin login {
    background-color: $nav_color;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
        padding: 0;
        input {
            margin-bottom: 20px;
        }
        input[type="text"], input[type="password"] {
            border-radius: 5px;
            min-height: 25px;
            &:focus {
                outline-color: $acent_color;
                outline-width: 1px;
            }
        }
    }
    button, input[type="submit"] {
        background-color: $text_color;
        border-radius: 5px;
        color: $nav_color;
        font-family: fredoka-one-regular;
        &:hover{
            cursor: pointer;
            opacity: 0.9;
        }
        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        min-height: 3em;
        background-color: $acent_color;
    }
}

@mixin login_logo {
    display: flex;
    flex-direction: row;
    margin: auto;
    h1 {
        margin: 0;
    } 
}

@mixin recipe_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        height: $card_height;
        width: $card_width;
        color: $text_color;
        text-decoration: none;
        .image-cropper {
            width: $card_img_width;
            height: $card_img_height;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 10px 5px 5px black;
            img {
                display: inline;
                margin: 0 auto;
                margin-left: -25%;
                height: 100%;
                width: auto;
            }
        }
        .ratings {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            img {
                width: $card_icons_width;
            }
            > div {
                margin: 0 15px;
                b {
                    font-size: $card_icons_font_size;
                }
            }
        }
        h2 {
            margin: 0;
            font-size: $card_title_font_size;
            font-weight: lighter;
            text-align: center;
        }
        &:hover h2{
            color: $text_color_hover;
        }
    }
}