/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
/* colors */
/* home */
/* login */
/* card */
/* recipe */
@font-face {
  font-family: fredoka-one-regular;
  src: url("../fonts/FredokaOne-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4d4545;
  color: #F6DDCC;
  font-family: fredoka-one-regular;
}

@media screen and (min-width: 1200px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #show-nav {
    display: none;
  }
  #web-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
  }
  #web-logo img {
    width: 60px;
  }
  #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  #links a {
    text-decoration: none;
    color: #F6DDCC;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    padding: 10px;
  }
  #links a:hover {
    color: #FFFFFF;
    background-color: #4d4545;
  }
  #links a img {
    width: 25px;
  }
  #links hr.separator {
    width: 75%;
    border-top: 3px solid #4d4545;
    border-radius: 5px;
  }
  #links button {
    width: 80%;
    min-height: 3em;
    margin: 1em 0;
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #links button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #links button:focus {
    outline: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #393232;
    min-height: 100%;
    width: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    left: 0;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #home {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em 15% 1em 25%;
  }
  #home article {
    margin-bottom: 3em;
  }
  #home h3 {
    font-weight: lighter;
    margin: 0 2em;
    text-align: center;
  }
  #home-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #home-welcome img {
    width: 30%;
    border-radius: 10px;
  }
  #home-welcome div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 100%;
  }
  #home-welcome div h1 {
    font-size: 50px;
    margin: 1em 2em;
    text-align: center;
  }
  #home-welcome div h4 {
    font-weight: lighter;
    margin: 0;
    margin-top: 1em;
    text-align: center;
  }
  #home-welcome div h4 span {
    color: #FFC107;
  }
  #home-newest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-newest div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 100%;
  }
  #home-newest div h1 {
    font-size: 35px;
    margin: 1em 2em;
    text-align: center;
  }
  #home-newest div h1 span {
    color: #FFC107;
  }
  #home-newest a {
    width: 30%;
  }
  #home-newest a:hover {
    cursor: pointer;
  }
  #home-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-description div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0.33;
        -ms-flex: 0.33;
            flex: 0.33;
  }
  #home-description div a {
    text-align: center;
  }
  #home-description div a img {
    width: 30%;
  }
  #home-description div a:hover {
    cursor: pointer;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #login {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #login form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #login form input {
    margin-bottom: 20px;
  }
  #login form input[type="text"], #login form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #login form input[type="text"]:focus, #login form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #login button, #login input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #login button:hover, #login input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #login button:focus, #login input[type="submit"]:focus {
    outline: none;
  }
  #login input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #login label {
    font-size: 25px;
  }
  #login input[type="text"], #login input[type="password"] {
    min-width: 200px;
  }
  #login input[type="submit"] {
    font-size: 15px;
  }
  #login-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 200px;
  }
  #login-logo h1 {
    margin: 0;
  }
  #login-logo h1 {
    font-size: 70px;
    margin: 0;
  }
  #login-logo img {
    width: 200px;
  }
  .login-error {
    color: #CD6155;
  }
  #register-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 5px;
  }
  #register-message p {
    margin: 0 10px 0 0;
  }
  #register-message button {
    min-height: 2em;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #register {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #register form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #register form input {
    margin-bottom: 20px;
  }
  #register form input[type="text"], #register form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #register form input[type="text"]:focus, #register form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #register button, #register input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #register button:hover, #register input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #register button:focus, #register input[type="submit"]:focus {
    outline: none;
  }
  #register input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #register label {
    font-size: 25px;
  }
  #register form {
    width: 80%;
  }
  #register input[type="text"], #register input[type="password"] {
    margin: 0;
    width: 100%;
  }
  #register input[type="submit"] {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
    width: 100%;
    font-size: 15px;
  }
  #register-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 200px;
  }
  #register-logo h1 {
    margin: 0;
  }
  #register-logo h1 {
    font-size: 70px;
    margin: 0;
  }
  #register-logo img {
    width: 200px;
  }
  .input-error {
    color: #CD6155;
    margin-bottom: 30px;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #recipe-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em 50px 1em 150px;
  }
  #recipe-cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    height: 380px;
    width: 320px;
    color: #F6DDCC;
    text-decoration: none;
  }
  #recipe-cards .card .image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 10px 5px 5px black;
            box-shadow: 10px 5px 5px black;
  }
  #recipe-cards .card .image-cropper img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
  }
  #recipe-cards .card .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px 0;
  }
  #recipe-cards .card .ratings img {
    width: 35px;
  }
  #recipe-cards .card .ratings > div {
    margin: 0 15px;
  }
  #recipe-cards .card .ratings > div b {
    font-size: 20px;
  }
  #recipe-cards .card h2 {
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
  }
  #recipe-cards .card:hover h2 {
    color: #FFFFFF;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    margin: 1em 10% 1em 15%;
  }
  #general-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #general-info > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    margin: 0 1em;
  }
  #general-info > div > h1 {
    text-align: center;
  }
  #general-info > div > span {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #general-info > div > span > img {
    width: 1em;
  }
  #general-info > img {
    width: 50%;
    border-radius: 20px;
  }
  #recipe-ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: auto;
  }
  #recipe-ratings > div {
    margin: 0 1em;
  }
  #recipe-ratings img {
    width: 2em;
  }
  #recipe-ratings button {
    border: none;
    background: none;
  }
  #recipe-ratings button:hover {
    cursor: pointer;
  }
  #recipe-properties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
    margin: 2em 0;
    width: 100%;
    background-color: #393232;
    border-radius: 10px;
  }
  #recipe-properties .property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #recipe-properties .property > img {
    width: 6em;
  }
  #recipe-properties .property > b {
    margin: 1em 0;
    font-size: 20px;
  }
  #recipe-properties .property > p {
    margin: 0;
    font-size: 15px;
  }
  #ingredients-recipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #ingredients-recipes > h2 {
    text-align: center;
  }
  #ingredients-recipes li {
    font-size: 18px;
  }
  #recipe-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1em 0;
  }
  #recipe-tags > p {
    padding: 10px;
    margin: 10px;
    background-color: #393232;
    border-radius: 5px;
  }
  .comment-title > b {
    color: #FFC107;
  }
  .comment-title > span {
    margin-left: 1em;
    font-size: 12px;
  }
  .comment-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    word-break: normal;
    overflow: hidden;
    margin-bottom: 3em;
  }
  #recipe-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #393232;
    border-radius: 10px;
    padding: 1em;
    color: #F6DDCC;
  }
  #recipe-comments > button {
    min-width: 10em;
    min-height: 3em;
    margin: 1em 0;
    background-color: #FFC107;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  #recipe-comments > button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #recipe-comments > button:focus {
    outline: none;
  }
  #recipe-comments > textarea {
    max-width: 100%;
    min-height: 4em;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #recipe-comments > textarea:focus {
    outline: none;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #add-recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 1em 10% 1em 15%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #add-recipe .add-recipe-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 60em;
    max-width: 70em;
    margin: 10px 0;
  }
  #add-recipe .add-recipe-component > input[type="text"] {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2em;
  }
  #add-recipe .add-recipe-component > input[type="text"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > textarea {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 5em;
  }
  #add-recipe .add-recipe-component > textarea:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > input[type="button"] {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    width: 3em;
    margin-left: 1em;
  }
  #add-recipe .add-recipe-component > input[type="button"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > input[type="button"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #add-recipe .add-recipe-component > input[type="button"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1em;
  }
  #add-recipe .add-recipe-component > input[type="submit"] {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    width: 10em;
    height: 3em;
  }
  #add-recipe .add-recipe-component > input[type="submit"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #add-recipe .add-recipe-component > input[type="submit"]:focus {
    outline: none;
  }
  #add-recipe .error {
    color: #CD6155;
    font-size: 15px;
  }
  #add-recipe .property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1em;
  }
  #add-recipe .property img {
    width: 80px;
  }
  #add-recipe .property input {
    width: 5em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #add-recipe .property input:focus {
    outline: none;
  }
  #add-recipe .property input[type="checkbox"] {
    margin: 18px 0;
  }
  #add-recipe .property input[type="checkbox"]:hover {
    cursor: pointer;
  }
  #add-recipe .property label {
    font-size: 12px;
  }
  #add-recipe .property .error {
    color: #CD6155;
    font-size: 10px;
  }
  #add-recipe-properties {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #393232;
    padding: 1em;
    border-radius: 10px;
  }
  #submit-input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  .search-cards {
    margin-top: 100px;
  }
  #search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5em 10% 1em 15%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #search-box {
    position: fixed;
    top: 0;
    width: 80%;
    margin: 1em 10% 1em 15%;
    border-radius: 10px;
    background-color: #433B3B;
    z-index: 2;
  }
  #rewind-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #393232;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    color: #F6DDCC;
    font-size: 20px;
    font-family: fredoka-one-regular;
  }
  #rewind-panel:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #rewind-panel:focus {
    outline: none;
  }
  #rewind-panel > img {
    width: 25px;
    margin-left: auto;
  }
  #search-form {
    margin: 1em;
  }
  #search-form input[type="checkbox"]:hover, #search-form input[type="radio"]:hover {
    cursor: pointer;
  }
  .search-component {
    margin: 1em 0;
  }
  .search-component h4 {
    margin: 0;
    margin-bottom: 1em;
  }
  #radio-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #radio-box > div {
    margin: 0 1em;
  }
  #text-input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #text-input-box > input {
    width: 10em;
    margin-right: 2em;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #text-input-box > input:focus {
    outline: none;
  }
  #text-input-box label {
    margin-right: 5px;
  }
  #vege-input {
    margin: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .range-input {
    margin: auto;
    margin-bottom: 2em;
  }
  .range-input-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 3px;
  }
  .slider-value {
    width: 30px;
  }
  .ui-slider-horizontal .ui-slider-range {
    background: #FFC107;
  }
  .ui-widget-content .ui-state-default {
    border-radius: 50%;
  }
  .ui-widget-content .ui-state-default:hover {
    cursor: pointer;
  }
  .ui-widget-content .ui-state-default:focus {
    outline: none;
  }
  #diff-input {
    width: 200px;
  }
  #avg-cost-input {
    width: 500px;
  }
  #ppl-num-input {
    width: 300px;
  }
  #kcal-input {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #web-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
  }
  #web-logo img {
    width: 60px;
  }
  #show-nav {
    border: none;
    background: none;
    padding: none;
  }
  #show-nav img {
    width: 35px;
  }
  #show-nav:hover {
    cursor: pointer;
  }
  #show-nav:focus {
    outline: none;
  }
  #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    display: none;
  }
  #links a {
    text-decoration: none;
    color: #F6DDCC;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    padding: 10px;
  }
  #links a:hover {
    color: #FFFFFF;
    background-color: #4d4545;
  }
  #links a img {
    width: 25px;
  }
  #links hr.separator {
    width: 75%;
    border-top: 3px solid #4d4545;
    border-radius: 5px;
  }
  #links button {
    width: 80%;
    min-height: 3em;
    margin: 1em 0;
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #links button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #links button:focus {
    outline: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #393232;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #home {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2em auto;
  }
  #home article {
    margin: 0 1em 2em 1em;
  }
  #home h3 {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
  }
  #home h1 {
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
  }
  #home h1 span {
    color: #FFC107;
  }
  #home-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  #home-welcome img {
    width: 50%;
  }
  #home-welcome div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  #home-welcome div h4 {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    margin-top: 1em;
    text-align: center;
  }
  #home-welcome div h4 span {
    color: #FFC107;
  }
  #home-newest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-newest div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 70%;
    height: 100%;
    margin-bottom: 2em;
  }
  #home-newest a {
    width: 30%;
  }
  #home-newest a:hover {
    cursor: pointer;
  }
  #home-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-description div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2em;
  }
  #home-description div a {
    text-align: center;
  }
  #home-description div a img {
    width: 30%;
  }
  #home-description div a:hover {
    cursor: pointer;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #login {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #login form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #login form input {
    margin-bottom: 20px;
  }
  #login form input[type="text"], #login form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #login form input[type="text"]:focus, #login form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #login button, #login input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #login button:hover, #login input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #login button:focus, #login input[type="submit"]:focus {
    outline: none;
  }
  #login input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #login label {
    font-size: 15px;
  }
  #login input[type="submit"] {
    font-size: 12px;
  }
  #login-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 75px;
  }
  #login-logo h1 {
    margin: 0;
  }
  #login-logo h1 {
    font-size: 30px;
    margin: 0;
  }
  #login-logo img {
    width: 75px;
  }
  .login-error {
    color: #CD6155;
  }
  #register-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 5px;
  }
  #register-message p {
    margin: 0 0 10px 0;
  }
  #register-message button {
    min-height: 2em;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #register {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #register form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #register form input {
    margin-bottom: 20px;
  }
  #register form input[type="text"], #register form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #register form input[type="text"]:focus, #register form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #register button, #register input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #register button:hover, #register input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #register button:focus, #register input[type="submit"]:focus {
    outline: none;
  }
  #register input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #register label {
    font-size: 15px;
  }
  #register form {
    width: 80%;
  }
  #register input[type="text"], #register input[type="password"] {
    margin: 0;
    width: 100%;
  }
  #register input[type="submit"] {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
    width: 100%;
    font-size: 12px;
  }
  #register-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 75px;
  }
  #register-logo h1 {
    margin: 0;
  }
  #register-logo h1 {
    font-size: 30px;
    margin: 0;
  }
  #register-logo img {
    width: 75px;
  }
  .input-error {
    color: #CD6155;
    margin-bottom: 30px;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #recipe-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em auto 1em auto;
  }
  #recipe-cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    height: 380px;
    width: 320px;
    color: #F6DDCC;
    text-decoration: none;
  }
  #recipe-cards .card .image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 10px 5px 5px black;
            box-shadow: 10px 5px 5px black;
  }
  #recipe-cards .card .image-cropper img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
  }
  #recipe-cards .card .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px 0;
  }
  #recipe-cards .card .ratings img {
    width: 35px;
  }
  #recipe-cards .card .ratings > div {
    margin: 0 15px;
  }
  #recipe-cards .card .ratings > div b {
    font-size: 20px;
  }
  #recipe-cards .card h2 {
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
  }
  #recipe-cards .card:hover h2 {
    color: #FFFFFF;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em;
  }
  #general-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #general-info > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #general-info > div > h1 {
    text-align: center;
  }
  #general-info > div > span {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #general-info > div > span > img {
    width: 1em;
  }
  #general-info > img {
    width: 100%;
    border-radius: 20px;
  }
  #recipe-ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 1em;
  }
  #recipe-ratings > div {
    margin: 0 4px;
  }
  #recipe-ratings img {
    width: 2em;
  }
  #recipe-ratings button {
    border: none;
    background: none;
  }
  #recipe-ratings button:hover {
    cursor: pointer;
  }
  #recipe-properties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
    margin: 2em 0;
    width: 60%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #393232;
    border-radius: 10px;
  }
  #recipe-properties .property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2em;
  }
  #recipe-properties .property > img {
    width: 6em;
  }
  #recipe-properties .property > b {
    margin: 1em 0;
    font-size: 20px;
  }
  #recipe-properties .property > p {
    margin: 0;
    font-size: 15px;
  }
  #ingredients-recipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #ingredients-recipes > h2 {
    text-align: center;
  }
  #ingredients-recipes li {
    font-size: 18px;
  }
  #recipe-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1em 0;
  }
  #recipe-tags > p {
    padding: 10px;
    margin: 10px;
    background-color: #393232;
    border-radius: 5px;
  }
  .comment-title > b {
    color: #FFC107;
  }
  .comment-title > span {
    margin-left: 1em;
    font-size: 12px;
  }
  .comment-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    word-break: normal;
    overflow: hidden;
    width: 100%;
    margin-bottom: 3em;
  }
  #recipe-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #393232;
    border-radius: 10px;
    padding: 1em;
    color: #F6DDCC;
  }
  #recipe-comments > button {
    min-width: 10em;
    min-height: 3em;
    margin: 1em 0;
    background-color: #FFC107;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  #recipe-comments > button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #recipe-comments > button:focus {
    outline: none;
  }
  #recipe-comments > textarea {
    max-width: 100%;
    min-height: 4em;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #recipe-comments > textarea:focus {
    outline: none;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  /* card */
  /* recipe */
  #add-recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #add-recipe .add-recipe-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 10px 0;
  }
  #add-recipe .add-recipe-component > input[type="text"] {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2em;
  }
  #add-recipe .add-recipe-component > input[type="text"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > textarea {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 10em;
  }
  #add-recipe .add-recipe-component > textarea:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component input[type="button"] {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    width: 10em;
    height: 3em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 1em;
  }
  #add-recipe .add-recipe-component input[type="button"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component input[type="button"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #add-recipe .add-recipe-component input[type="button"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    margin-right: 1em;
  }
  #add-recipe .add-recipe-component > input[type="submit"] {
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
    width: 10em;
    height: 3em;
  }
  #add-recipe .add-recipe-component > input[type="submit"]:focus {
    outline: none;
  }
  #add-recipe .add-recipe-component > input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #add-recipe .add-recipe-component > input[type="submit"]:focus {
    outline: none;
  }
  #add-recipe .error {
    color: #CD6155;
    font-size: 15px;
  }
  #add-recipe .property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 0;
  }
  #add-recipe .property img {
    width: 80px;
  }
  #add-recipe .property input {
    width: 7em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F6DDCC;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #add-recipe .property input:focus {
    outline: none;
  }
  #add-recipe .property input[type="checkbox"] {
    margin: 18px 0;
  }
  #add-recipe .property input[type="checkbox"]:hover {
    cursor: pointer;
  }
  #add-recipe .property label {
    font-size: 12px;
  }
  #add-recipe .property .error {
    color: #CD6155;
    font-size: 10px;
  }
  #add-recipe-properties {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #393232;
    max-width: 10em;
    padding: 1em;
    border-radius: 10px;
  }
  #submit-input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */