/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
/* colors */
/* home */
/* login */
@font-face {
  font-family: fredoka-one-regular;
  src: url("../fonts/FredokaOne-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4d4545;
  color: #F6DDCC;
  font-family: fredoka-one-regular;
}

@media screen and (min-width: 1200px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #show-nav {
    display: none;
  }
  #web-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
  }
  #web-logo img {
    width: 60px;
  }
  #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  #links a {
    text-decoration: none;
    color: #F6DDCC;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    padding: 10px;
  }
  #links a:hover {
    color: #FFFFFF;
    background-color: #4d4545;
  }
  #links a img {
    width: 25px;
  }
  #links hr.separator {
    width: 75%;
    border-top: 3px solid #4d4545;
    border-radius: 5px;
  }
  #links button {
    width: 80%;
    min-height: 3em;
    margin: 1em 0;
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #links button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #links button:focus {
    outline: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #393232;
    min-height: 100%;
    width: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    left: 0;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #home {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em 15% 1em 25%;
  }
  #home article {
    margin-bottom: 3em;
  }
  #home h3 {
    font-weight: lighter;
    margin: 0 2em;
    text-align: center;
  }
  #home-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #home-welcome img {
    width: 30%;
    border-radius: 10px;
  }
  #home-welcome div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 100%;
  }
  #home-welcome div h1 {
    font-size: 50px;
    margin: 1em 2em;
    text-align: center;
  }
  #home-welcome div h4 {
    font-weight: lighter;
    margin: 0;
    margin-top: 1em;
    text-align: center;
  }
  #home-welcome div h4 span {
    color: #FFC107;
  }
  #home-newest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-newest div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 100%;
  }
  #home-newest div h1 {
    font-size: 35px;
    margin: 1em 2em;
    text-align: center;
  }
  #home-newest div h1 span {
    color: #FFC107;
  }
  #home-newest a {
    width: 30%;
  }
  #home-newest a:hover {
    cursor: pointer;
  }
  #home-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-description div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0.33;
        -ms-flex: 0.33;
            flex: 0.33;
  }
  #home-description div a {
    text-align: center;
  }
  #home-description div a img {
    width: 30%;
  }
  #home-description div a:hover {
    cursor: pointer;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #login {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #login form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #login form input {
    margin-bottom: 20px;
  }
  #login form input[type="text"], #login form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #login form input[type="text"]:focus, #login form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #login button, #login input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #login button:hover, #login input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #login button:focus, #login input[type="submit"]:focus {
    outline: none;
  }
  #login input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #login label {
    font-size: 25px;
  }
  #login input[type="text"], #login input[type="password"] {
    min-width: 200px;
  }
  #login input[type="submit"] {
    font-size: 15px;
  }
  #login-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 200px;
  }
  #login-logo h1 {
    margin: 0;
  }
  #login-logo h1 {
    font-size: 70px;
    margin: 0;
  }
  #login-logo img {
    width: 200px;
  }
  .login-error {
    color: #CD6155;
  }
  #register-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 5px;
  }
  #register-message p {
    margin: 0 10px 0 0;
  }
  #register-message button {
    min-height: 2em;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #register {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #register form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #register form input {
    margin-bottom: 20px;
  }
  #register form input[type="text"], #register form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #register form input[type="text"]:focus, #register form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #register button, #register input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #register button:hover, #register input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #register button:focus, #register input[type="submit"]:focus {
    outline: none;
  }
  #register input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #register label {
    font-size: 25px;
  }
  #register form {
    width: 80%;
  }
  #register input[type="text"], #register input[type="password"] {
    margin: 0;
    width: 100%;
  }
  #register input[type="submit"] {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
    width: 100%;
    font-size: 15px;
  }
  #register-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 200px;
  }
  #register-logo h1 {
    margin: 0;
  }
  #register-logo h1 {
    font-size: 70px;
    margin: 0;
  }
  #register-logo img {
    width: 200px;
  }
  .input-error {
    color: #CD6155;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #web-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
  }
  #web-logo img {
    width: 60px;
  }
  #show-nav {
    border: none;
    background: none;
    padding: none;
  }
  #show-nav img {
    width: 35px;
  }
  #show-nav:hover {
    cursor: pointer;
  }
  #show-nav:focus {
    outline: none;
  }
  #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    display: none;
  }
  #links a {
    text-decoration: none;
    color: #F6DDCC;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    padding: 10px;
  }
  #links a:hover {
    color: #FFFFFF;
    background-color: #4d4545;
  }
  #links a img {
    width: 25px;
  }
  #links hr.separator {
    width: 75%;
    border-top: 3px solid #4d4545;
    border-radius: 5px;
  }
  #links button {
    width: 80%;
    min-height: 3em;
    margin: 1em 0;
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #links button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #links button:focus {
    outline: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #393232;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #home {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2em auto;
  }
  #home article {
    margin: 0 1em 2em 1em;
  }
  #home h3 {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
  }
  #home h1 {
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
  }
  #home h1 span {
    color: #FFC107;
  }
  #home-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  #home-welcome img {
    width: 50%;
  }
  #home-welcome div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  #home-welcome div h4 {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    margin-top: 1em;
    text-align: center;
  }
  #home-welcome div h4 span {
    color: #FFC107;
  }
  #home-newest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-newest div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 70%;
    height: 100%;
    margin-bottom: 2em;
  }
  #home-newest a {
    width: 30%;
  }
  #home-newest a:hover {
    cursor: pointer;
  }
  #home-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    background-color: #393232;
    border-radius: 10px;
    padding: 2em;
  }
  #home-description div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2em;
  }
  #home-description div a {
    text-align: center;
  }
  #home-description div a img {
    width: 30%;
  }
  #home-description div a:hover {
    cursor: pointer;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #login {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #login form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #login form input {
    margin-bottom: 20px;
  }
  #login form input[type="text"], #login form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #login form input[type="text"]:focus, #login form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #login button, #login input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #login button:hover, #login input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #login button:focus, #login input[type="submit"]:focus {
    outline: none;
  }
  #login input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #login label {
    font-size: 15px;
  }
  #login input[type="submit"] {
    font-size: 12px;
  }
  #login-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 75px;
  }
  #login-logo h1 {
    margin: 0;
  }
  #login-logo h1 {
    font-size: 30px;
    margin: 0;
  }
  #login-logo img {
    width: 75px;
  }
  .login-error {
    color: #CD6155;
  }
  #register-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 5px;
  }
  #register-message p {
    margin: 0 0 10px 0;
  }
  #register-message button {
    min-height: 2em;
  }
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* Large desktop */
  /* colors */
  /* home */
  /* login */
  #register {
    background-color: #393232;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #register form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 0;
    padding: 0;
  }
  #register form input {
    margin-bottom: 20px;
  }
  #register form input[type="text"], #register form input[type="password"] {
    border-radius: 5px;
    min-height: 25px;
  }
  #register form input[type="text"]:focus, #register form input[type="password"]:focus {
    outline-color: #FFC107;
    outline-width: 1px;
  }
  #register button, #register input[type="submit"] {
    background-color: #F6DDCC;
    border-radius: 5px;
    color: #393232;
    font-family: fredoka-one-regular;
  }
  #register button:hover, #register input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  #register button:focus, #register input[type="submit"]:focus {
    outline: none;
  }
  #register input[type="submit"] {
    min-height: 3em;
    background-color: #FFC107;
  }
  #register label {
    font-size: 15px;
  }
  #register form {
    width: 80%;
  }
  #register input[type="text"], #register input[type="password"] {
    margin: 0;
    width: 100%;
  }
  #register input[type="submit"] {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
    width: 100%;
    font-size: 12px;
  }
  #register-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    line-height: 75px;
  }
  #register-logo h1 {
    margin: 0;
  }
  #register-logo h1 {
    font-size: 30px;
    margin: 0;
  }
  #register-logo img {
    width: 75px;
  }
  .input-error {
    color: #CD6155;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */