@import "values";
@import "common";

@font-face {
    font-family : fredoka-one-regular;
    src : url("../fonts/FredokaOne-Regular.ttf");
}

html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    background-color: $body_color;
    color: $text_color;
    font-family: fredoka-one-regular;
}

@media screen and (min-width: $large_min) {
    body {
        flex-direction: row;
    }
    @import "large/lg_nav.scss";
    @import "large/lg_home.scss";
    @import "large/lg_login.scss";
    @import "large/lg_register.scss";
}
@media screen and (max-width: $small_max) {
    body {
        flex-direction: column;
    }
    @import "small/sm_nav.scss";
    @import "small/sm_home.scss";
    @import "small/sm_login.scss";
    @import "small/sm_register.scss";
}
