/* Landscape phones and down */
$small_max : 480px;
/* Landscape phone to portrait tablet */
$medium_portrait_max : 767px;
/* Portrait tablet to landscape and desktop */
$medium_landscape_min : 768px;
$medium_landscape_max : 979px;
/* Large desktop */
$large_min : 1200px;

/* colors */
$text_color : #F6DDCC;
$text_color_hover:#FFFFFF; 
$body_color : #4d4545;
$nav_color : #393232;
$nav_color_hover : $body_color; 
$acent_color : #FFC107;

/* nav */
$logo_padding : 5px;
$links_top_margin : 20px;
$user_logo_top_margin: 20px;
$nav_width : 150px;
$nav_a_padding: 10px;
$icon_size : 25px;
$logo_size : 60px;
$menu_btn_size : 35px; 
$nav_border_radius : 5px;

/* home */
$max_home_width: 1000px;
